{% extends "pages/owner/owner_base.html" %}

{% block web_title %}
uRide - Add Vehicle
{% endblock web_title %}

{% block owner_content %}
<div class="col-lg-9">
    <div class="card padding40  rounded-5">
        <div class="row">
            <div class="col-lg-12">
                <form id="form-create-item" enctype="multipart/form-data" class="form-border" method="POST">
                    {% csrf_token %}
                    <div class="de_tab tab_simple">

                        <ul class="de_nav">
                            <li class="active"><span>Add Vehicle</span></li>
                        </ul>

                        <div class="de_tab_content">

                            <div class="row">

                                {{ form.as_p }}

                            </div>

                        </div>
                    </div>

                    <input type="submit" id="submit" class="btn-main" value="Add vehicle">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock owner_content %}