{% extends "base.html" %}
{% block title %}
Change Password
{% endblock title %}

{% block content %}
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

<br><br>
    <section id="section-settings" class="bg-gray-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card padding40  rounded-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="form-create-item" class="form-border" method="POST">
                                    {% csrf_token %}
                                    <div class="de_tab tab_simple">
                                        <ul class="de_nav">
                                            <li><a href="{% if request.user.is_owner %}
                                              {% url 'owner_profile' %}
                                            {% elif request.user.is_customer %}
                                              {% url 'customer_profile' %}
                                            {% endif %}"><i class="fa fa-arrow-left"></i></a></li>

                                            <li class="active"><span>Change Password</span></li>
                                            <!-- <li><span>Notifications</span></li> -->
                                        </ul>

                                        <div class="de_tab_content">

                                            <div class="row">
                                                {% for form in form %}
                                                {{ form.label_tag }} {{ form }} {{ form.errors|striptags }}
                                                {% endfor %}

                                                <br>
                                            </div>

                                        </div>
                                    </div>
                                    <br>
                                    <input type="submit" id="submit" class="btn-main" value="Change Password">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<!-- content close -->

{% endblock content %}