{% extends "base.html" %}
{% load static %}

{% block title %}
uRide - Forgot Password
{% endblock title %}

{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %} " class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Forgot Password</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section aria-label="section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 offset-md-2">
                    <h3>Password Reset sent</h3>
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                    </p>

                                  
            </div>
        </div>

    </section>


</div>

{% endblock content %}