{% extends "base.html" %}
{% load static %}

{% block title %}
uRide - Forgot Password
{% endblock title %}

{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %} " class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Forgot Password</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section aria-label="section">
        <div class="container">
            <div class="row">

                <div class="col-md-8 offset-md-2">
                    <h3>Password Reset</h3>
                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting
                        a new one.
                    </p>

                    <div class="spacer-10"></div>

                    <form name="contactForm" id='contact_form' class="form-border" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="field-set">
                                    {{form.as_p}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div id='submit' class="pull-left">
                                <button type="submit" class="btn-main color-2">Reset</button>
                            </div>

                        </div>
                    </form>
                </div>
                


            </div>
        </div>

    </section>


</div>

{% endblock content %}