{% extends "base.html" %}
{% load static %}

{% block title %}
uRide - Forgot Password
{% endblock title %}

{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %} " class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Forgot Password</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section aria-label="section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 offset-md-2">
                    <h3>Your password has been set.</h3>
                    <p>You may go ahead and <a href="{% url 'login' %}">sign in</a> into your account.
                    </p>                  
            </div>
        </div>

    </section>


</div>

{% endblock content %}