
.product-info-tabs{
	position:relative;
}

.prod-tabs{
	position:relative;
}

.prod-tabs .tab-btns{
	position:relative;
	margin-bottom:50px;	
	font-family: 'Catamaran', sans-serif;
}

.prod-tabs .tab-btns .tab-btn{
	position:relative;
	float:left;
	font-size:15px;
	color:#222222;
	text-transform:capitalize;
	font-weight:400;
	padding:8px 50px;
	line-height:24px;
	border:1px solid #e0e0e0;
	margin-right:10px;
	border-radius:3px;
	cursor:pointer;
}

.prod-tabs .tab-btns .tab-btn.active-btn{
	color:#ff8201;
	border-color:#ff8201;
}

.prod-tabs .tabs-container{
	position:relative;	
}

.prod-tabs .tabs-container .tab{
	position:relative;
	display:none;
}

.prod-tabs .tabs-container .tab.active-tab{
	display:block;	
}

.prod-tabs .tabs-container .tab p,
.prod-tabs .tabs-container .tab h2,
.prod-tabs .tabs-container .tab h3,
.prod-tabs .tabs-container .tab h4,
.prod-tabs .tabs-container .tab h5,
.prod-tabs .tabs-container .tab h6{
	margin-bottom:20px;	
}


.prod-tabs .tabs-container .tab h3{
	font-size:18px;
	font-weight:500;
	text-transform:capitalize;
	color:#222222;
	margin-bottom:15px;
}

.prod-tabs .tabs-container .tab h4{
	font-size:16px;
	font-weight:500;
	text-transform:capitalize;
	color:#222222;
	margin-bottom:15px;
}

.prod-tabs .tabs-container .tab p{
	font-size:14px;
}
.prod-tabs .reviews-container{
	position:relative;	
}

.prod-tabs .reviews-container .review-box{
	position:relative;
	margin-bottom:30px;
	padding-left:100px;
	min-height:100px;
}

.prod-tabs .reviews-container .rev-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:82px;
	height:82px;
	border:1px solid #e0e0e0;
	background:#ffffff;
	border-radius:3px;
}

.prod-tabs .reviews-container .rev-thumb img{
	display:block;
	width:80px;
	height:80px;
	border-radius:3px;	
}

.prod-tabs .reviews-container .rev-content{
	position:relative;
	padding:15px;
	border:1px solid #e0e0e0;
	background:#ffffff;	
}

.prod-tabs .reviews-container .rating{
	color:#ff9c01;
	font-size:13px;
}

.prod-tabs .reviews-container .rating .fa{
	margin-right:1px;	
}

.prod-tabs .reviews-container .rev-info{
	font-size:12px;
	letter-spacing:1px;
	margin-bottom:10px;
}

.prod-tabs .reviews-container .rev-text{
	font-size:14px;
}

.prod-tabs .add-review{
	position:relative;
	margin:30px 0px 20px;
	font-size:14px;
}

.prod-tabs .add-review .rating{
	position:relative;
	padding-top:8px;	
}

.prod-tabs .add-review .rating .rate-box{
	position:relative;
	display:inline-block;
	margin-right:10px;
	font-size:14px;
	color:#555555;	
}

.prod-tabs .add-review .rating .rate-box:hover,
.prod-tabs .add-review .rating .rate-box:focus,
.prod-tabs .add-review .rating .rate-box:active{
	color:#fa6f1c;	
}

.prod-tabs .add-review label{
	position:relative;
	display:block;
	font-size:14px;
	margin-bottom:5px;
	font-weight:400;
	color:#303030;	
}

.prod-tabs .add-review h3{
	margin-bottom:20px;	
}

.prod-tabs .add-review .form-group{
	position:relative;
	margin-bottom:20px;	
}

.prod-tabs .add-review .form-group input[type="text"],
.prod-tabs .add-review .form-group input[type="password"],
.prod-tabs .add-review .form-group input[type="tel"],
.prod-tabs .add-review .form-group input[type="email"],
.prod-tabs .add-review .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:22px;
	padding:9px 15px;
	color:#222222;
	border:1px solid #e0e0e0;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.prod-tabs .add-review .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:22px;
	padding:8px 15px;
	color:#222222;
	border:1px solid #e0e0e0;
	height:150px;
	resize:none;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.prod-tabs .add-review button{
	padding:8px 35px;
}